@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

.discord-button {
  background-color: #5865f2;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.loading {
  animation: progress-animation 1000ms ease 400ms infinite;
}
